<!doctype html>
<html>
  <head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-131027370-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-131027370-1');
    </script>

    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Project Manager, Product Manager & Frontend Developer living between Portugal and Japan</title>
    <meta name="description" content="Looking for a Project Manager, Product Manager or a freelance Frontend Developer in Portugal or Japan? I'm Hugo Abreu, and I have 6 years of experience managing tech products and made a full stack coding bootcamp in Le Wagon Tokyo!">
    <meta property="og:title" content="Hugo Abreu - Project Manager, Product Manager & Frontend Developer">
    <meta property="og:url" content="https://hugoabreu.pt">
    <meta property="og:description" content="I am a Project Manager, Product Manager and freelance Frontend Developer living between Portugal and Japan!">
    <meta property="og:image" content= "https://res.cloudinary.com/dsbz0g917/image/upload/v1545026893/Social_Media.jpg">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">
    <meta property="og:image:alt" content="Hugo Abreu - Product Manager and freelance Frontend Developer available to work in Portugal or Japan!" />

    <%= stylesheet_link_tag "application" %>
    <%= favicon_tag 'images/favicon.png' %>
  </head>

  <body>
    <%= partial 'layouts/navbar' %>
    <%= yield %>
    <%= javascript_include_tag "application" %>
  </body>
</html>
