<!doctype html>
<html>

  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Hugo Abreu - Product Manager and FrontEnd Developer living between Portugal and Japan</title>
    <meta name="description" content="My name is Hugo Abreu and I have 6 years of experience as Product Manager on the tech industry. I also made a full-stack coding bootcamp in Le Wagon Tokyo in 2018. I am available to work with you as Product Manager or as a freelance FrontEnd developer in any city from Portugal or Japan!">
    <meta property="og:title" content="Hugo Abreu - Product Manager with 6 years of experience">
    <meta property="og:description" content="Product Manager and freelance FrontEnd Developer available to work in any city from Portugal or Japan!">
    <meta property="og:image" content="../images/Social_Media.jpg">
    <%= stylesheet_link_tag "application" %>
    <%= favicon_tag 'images/favicon.png' %>
  </head>

  <body>
    <%= partial 'layouts/navbar' %>
    <%= yield %>
    <%= javascript_include_tag "application" %>
  </body>
</html>
